In [1]:
my_list = ['abc', 'hi', 'welcome', 1, 2, 3, 4.5, True]

In [2]:
my_list

['abc', 'hi', 'welcome', 1, 2, 3, 4.5, True]

In [3]:
type(my_list)

list

In [4]:
len(my_list)

8

# 1

In [13]:
my_list[6:2:-1]

[4.5, 3, 2, 1]

In [14]:
my_list[-2:-6:-1]

[4.5, 3, 2, 1]

# 2

#### append, extend, insert

In [1]:
list1 = ['Vowels', 'a', 'e', 'i', 'o', 'u', 5]

In [2]:
list1.append('English')

In [3]:
list1

['Vowels', 'a', 'e', 'i', 'o', 'u', 5, 'English']

In [35]:
list1.extend([1, 2, 3])

In [37]:
list1

['Vowels', 'a', 'e', 'i', 'o', 'u', 5, 'English', 1, 2, 3]

In [97]:
list1.insert(11, 'Numbers')

In [98]:
list1

['Vowels', 'a', 'e', 'i', 'o', 'u', 5, 'English', 1, 2, 3, 'Numbers']

#### delete

In [99]:
even = [2, 6, 8, 10]

In [100]:
del even[1]

In [101]:
even

[2, 8, 10]

In [102]:
del even[1:3]

In [103]:
even

[2]

In [55]:
my_name = ['v', 'a', 'r', 's', 'h', 'i', 't', 'h', 'a']

In [67]:
print(my_name)
print(type(my_name))
len(my_name)

['v', 'a', 'r', 's', 'h', 'i', 't', 'h', 'a']
<class 'list'>

9

### 
len(my_name)
print(my_name)
print(type(my_name))

#### clear

In [78]:
date = [2, 8, 2, 0, 1, 8]

In [84]:
date.clear()

In [4]:
date

NameError: name 'date' is not defined

#### pop, remove & delete

In [86]:
name1 = ['t', 'e', 'a', 'c', 'h', 'e', 'r']

In [87]:
print(name1)
print(type(name1))

['t', 'e', 'a', 'c', 'h', 'e', 'r']
<class 'list'>

In [88]:
name1.pop(3)

'c'

In [89]:
name1.remove('e')

In [90]:
name1

['t', 'a', 'h', 'e', 'r']

In [91]:
name1.insert(1, 'e')

In [92]:
name1

['t', 'e', 'a', 'h', 'e', 'r']

In [95]:
del name1[4]

In [96]:
name1

['t', 'e', 'a', 'h', 'r']

#### index, count, sort, reverse

In [104]:
numbers = [2, 4, 0, 8, 1, 9, 9, 4]

In [105]:
numbers.index(4)

1

In [106]:
numbers.count(4)

2

In [8]:
numbers.sort()

NameError: name 'numbers' is not defined

In [108]:
numbers

[0, 1, 2, 4, 4, 8, 9, 9]

In [109]:
numbers.reverse()

In [110]:
numbers

[9, 9, 8, 4, 4, 2, 1, 0]

#### copy

In [111]:
fruits1 = ['fruit', 'banana', 'orange']

In [112]:
fruits2 = fruits1.copy()

In [114]:
fruits2.append('mango')

In [115]:
print(fruits1)
print(fruits2)

['fruit', 'banana', 'orange']
['fruit', 'banana', 'orange', 'mango']